<div class="hidden-xs">
  <div class="row" id="how-content">
    <div class="col-sm-4">
      <span class="fa-stack fa-4x center">
        <i class="fa fa-circle fa-stack-2x green"></i>
        <i class="fa fa-search fa-stack-1x white"></i>
      </span>
      <h3 class='text-center'>Choose your variety</h3>
    </div>
    <div class="col-sm-4">
      <span class="fa-stack fa-4x center">
        <i class="fa fa-circle fa-stack-2x green"></i>
        <i class="fa fa-tree fa-stack-1x white"></i>
      </span>
      <h3 class='text-center'>Order your tree</h3>
      <br>
      <br>
    </div>
    <div class="col-sm-4">
      <span class="fa-stack fa-4x center">
        <i class="fa fa-circle fa-stack-2x green"></i>
        <i class="fa fa-bus fa-stack-1x white"></i>
      </span>
      <h3 class='text-center'>Tree to your door!</h3>
    </div>
  </div>
</div>

<div class="hidden-sm hidden-md hidden-lg">
  <div class="row" id="how-content">
    <div class="col-sm-12">
      <h4>
        <span class="fa-stack fa-2x">
          <i class="fa fa-circle fa-stack-2x green"></i>
          <i class="fa fa-search fa-stack-1x white"></i>
        </span>
        Choose your variety
      </h4>
    </div>
    <div class="col-sm-12">
      <h4>
        <span class="fa-stack fa-2x">
          <i class="fa fa-circle fa-stack-2x green"></i>
          <i class="fa fa-tree fa-stack-1x white"></i>
        </span>
        Order your tree
      </h4>
    </div>
    <div class="col-sm-12">
      <h4>
        <span class="fa-stack fa-2x">
          <i class="fa fa-circle fa-stack-2x green"></i>
          <i class="fa fa-bus fa-stack-1x white"></i>
        </span>
        Tree to your door!
      </h4>
    </div>
  </div>
  <br><br><br>
</div>
