<div class="container">
  <div class="row" id="top-row">
    <div class="col-md-4 col-xs-1 col-sm-2">
    </div>
    <div class="col-xs-10 col-sm-8 col-md-4  well">
      <h2>Enter your zipcode</h2>
      <br>
      <%= simple_form_for :zipcode_search,  url: zipcode_search_orders_path , method: :get do |f| %>
        <%= f.input :zipcode,
                    autofocus: true,
                    input_html: { class: 'form-control'},
                    label: false,
                    placeholder: 'Search our delivery network!' %>
        <br>
        <%= f.submit "Submit", class: 'btn btn-primary' %>
      <% end %>
    </div>
    <div class="col-md-4 col-xs-1 col-sm-2">
    </div>
  </div>

  <br>
  <br>

  <div class="row" id="how-content">
    <div class="col-sm-12 col-md-4">
      <span class="fa-stack fa-4x center">
        <i class="fa fa-circle fa-stack-2x green"></i>
        <i class="fa fa-search fa-stack-1x white"></i>
      </span>
      <h3 class='text-center'>Search our varieties</h3>
    </div>
    <div class="col-sm-12 col-md-4">
      <span class="fa-stack fa-4x center">
        <i class="fa fa-circle fa-stack-2x green"></i>
        <i class="fa fa-tree fa-stack-1x white"></i>
      </span>
      <h3 class='text-center'>Order your tree</h3>
    </div>
    <div class="col-sm-12 col-md-4">
      <span class="fa-stack fa-4x center">
        <i class="fa fa-circle fa-stack-2x green"></i>
        <i class="fa fa-bus fa-stack-1x white"></i>
      </span>
      <h3 class='text-center'>Tree to your door!</h3>
    </div>
  </div>
</div>


