<div class="row" id="top-row" style="height: 200px">
</div>
<div class="row">
  <br>
  <br>
  <div class="container">
    <div class="row row-padding-top">
      <div class="col-xs-12 col-sm-6">
        <div class='faq-bubble'>
          <div class="alert alert-success">
            <p>How do I know I'll get a nice tree?</p>
          </div>
          <div class='faq-padding'>
            <p>Good question! Christmas trees are purchased from tree farmer's based on three grades. They are premium grade, #1 grade and #2 grade. Premium grade trees are the "cream of the crop". They are guaranteed to be the best tree's the farmer has grown for that given year. We ONLY purchase and deliver premium grade tree's.</p>
          </div>
        </div>

        <div class='faq-bubble'>
          <div class="alert alert-success">
            <p>Why buy a tree from us?</p>
          </div>
          <div class='faq-padding'>
            <p>Because it's completely hassle free!  We deliver farm grown, freshly cut, premium grade trees directly to your front door! Awesome right?</p>
          </div>
        </div>

        <div class='faq-bubble'>
          <div class="alert alert-success">
            <p>What is the difference between Frasier fir and Balsam fir?</p>
          </div>
          <div class='faq-padding'>
            <p>The Balsam fir is a beautiful pyramidal tree with short, flat, long-lasting, aromatic needles. It is characterized by a nice, dark green color and is very fragrant.</p>

            <p>The Fraser fir is quickly becoming the most premium species of the cut Christmas tree market. Its mild fragrance, shape, strong limbs, and ability to retain its soft needles for a long time when cut make it one of the best trees for this purpose. It is characterized by a heavy density and is known for its deep hues of blueish green.</p>
          </div>
        </div>

        <div class='faq-bubble'>
          <div class="alert alert-success">
            <p>Will the tree shed?</p>
          </div>
          <div class='faq-padding'>
            <p>It's only natural that most trees will shed some needles in the weeks leading up to Christmas Day. Since all of our trees are premium grade and cut very close to Thanksgiving, If they're given proper water and kept at a reasonable distance from heat sources, there should be minimal shedding.</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <div class='faq-bubble'>
          <div class="alert alert-success">
            <p>How should I best care for my tree?</p>
          </div>
          <div class='faq-padding'>
            <p>Add water to your stand immediately when you bring your tree into the house. Keep as far away as possible from heat sources. Check daily to make sure the water does not go below the base of the tree.</p>
          </div>
        </div>

        <div class='faq-bubble'>
          <div class="alert alert-success">
            <p>Do you give it a fresh cut prior to delivery?</p>
          </div>
          <div class='faq-padding'>
            <p>Yes. All of our trees are given a fresh cut immediately before being delivered to your home.</p>
          </div>
        </div>

        <div class='faq-bubble'>
          <div class="alert alert-success">
            <p>How fast will my tree arrive after I submit my order?</p>
          </div>
          <div class='faq-padding'>
            <p>One of the Christmas Tree Guys will contact you within 24 hours of your order to schedule a delivery date/time. Immediately following Thanksgiving we will be delivering on a daily basis. We will do our best to coordinate with you to get your tree delivered in the timeliest manner possible.</p>
          </div>
        </div>

        <div class='faq-bubble'>
          <div class="alert alert-success">
            <p>Where do the trees come from?</p>
          </div>
          <div class='faq-padding'>
            <p>Our Balsam Firs are fresh cut from farms in Maine and New Hampshire while our Fraser Firs our fresh cut from farms in North Carolina.</p>
          </div>
        </div>

        <div class='faq-bubble'>
          <div class="alert alert-success">
            <p>Do you deliver to apartment complexes and businesses as well as single family homes?</p>
          </div>
          <div class='faq-padding'>
            <p>Yes. We will deliver to anyone within our delivery radiuses.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
</div>
