.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.right {
  float: right;
}

.left {
  float: left;
}

.display-none {
  display: none;
}

.tree-display {
  height: 125px;
  position: relative;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.7);
}

.balsam {
  background-image: url('balsam.jpg');
  background-position: center center;
}

.fraser {
  background-image: url('fraser.jpg');
  background-position: center bottom;
}

.balsam .tree-icons {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: #FFF;
}

.fraser .tree-icons {
  position: absolute;
  bottom: 15px;
  right: 15px;
  color: #FFF;
}
