.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.right {
  float: right;
}

.left {
  float: left;
}

.display-none {
  display: none;
}

.trees-bg {
  background: url('tree-bg.jpg') no-repeat center top;
}

.tree-display {
  height: 125px;
  position: relative;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.7);
}

.balsam {
  background-image: url('balsam.jpg');
  background-position: center center;
}

.fraser {
  background-image: url('fraser.jpg');
  background-position: center bottom;
}

.balsam .tree-icons {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: #FFF;
}

.fraser .tree-icons {
  position: absolute;
  bottom: 15px;
  right: 15px;
  color: #FFF;
}

.tree-description {
  width: 100%;
  color: #fff;
  padding: 1px 10px 0 10px;
}

.padding {
  padding: 20px;
}

.light-green {
  color: #79aa37;
}

.green {
  color: #3b6013;
}

.white {
  color: #ffffff;
}

.background-green {
  border-top: 1px solid #79aa37;
  background-color: #48721c;
}

.panel-tree {
  border-color: #3b6013;
}

.panel-tree>.panel-heading {
  color: #fff;
  background-color: #3b6013;
  border-color: #3b6013;
}
